<!DOCTYPE html>
<html lang="en">
<head>
	<meta name=”robots” content=”noindex, nofollow">

	<title>#jkt48wrapped untuk <%= process.env.YEAR %></title>

	<meta charset="UTF-8">	
	<meta name="description" content="Dapatkan ringkasan #jkt48wrapped<%= process.env.YEAR %> kamu sekarang!">

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://<%= process.env.YEAR %>.ngidol.club/share/<%= data.slug %>.html">
	<meta property="og:type" content="website">
	<meta property="og:title" content="#jkt48wrapped<%= process.env.YEAR %> untuk <%= data.name %>">
	<meta property="og:description" content="Dapatkan ringkasan #jkt48wrapped<%= process.env.YEAR %> kamu sekarang!">
	<meta property="og:image" content="https://<%= process.env.YEAR %>.ngidol.club/share/<%= data.slug %>.png">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site:" content="f4devcircle">
	<meta property="twitter:domain" content="<%= process.env.YEAR %>.ngidol.club">
	<meta property="twitter:url" content="https://<%= process.env.YEAR %>.ngidol.club/share/<%= data.slug %>.html">
	<meta name="twitter:title" content="#jkt48wrapped<%= process.env.YEAR %> untuk <%= data.name %>">
	<meta name="twitter:description" content="Dapatkan ringkasan #jkt48wrapped<%= process.env.YEAR %> kamu sekarang!">
	<meta name="twitter:image" content="https://<%= process.env.YEAR %>.ngidol.club/share/<%= data.slug %>.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="https://storage.googleapis.com/ngidol.club/F4DCLogoTrans2.png"/>
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">

	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6BTVQGVJ1N"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6BTVQGVJ1N');
</script>

	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" id="result" style="display: block">
				<span class="login100-form-title p-b-26" style="padding-bottom: 0px;">
					#jkt48wrapped<%= process.env.YEAR %><br>
				</span>
				<h4 style="margin-bottom: 25px; font-weight: bold; font-size: 13px; margin-top: 5px;" id="result-name"><%= data.name %></h4>

				<div class="stats-image">
					<img src="https://2022.ngidol.club/share/<%= data.slug %>.png" alt="Statistik Ngidol">
				</div>>

				<div class="share-section">
					<a class="btn btn-info btn-sm btn-download" href="https://<%= process.env.YEAR %>.ngidol.club">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Buat Baru
                    </a>
					<a class="btn btn-secondary btn-sm btn-download" href="https://<%= process.env.YEAR %>.ngidol.club/share/<%= data.slug %>.png" download="#jkt48wrapped<%= process.env.YEAR %>">
						<i class="fa fa-download" aria-hidden="true"></i> Unduh Hasil
					</a>
					<a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?text=Ini%20adalah%20ringkasan%20%23jkt48wrapped<%= process.env.YEAR %>%20ku%2C%20ayo%20cari%20tau%20punyamu%20juga%20%F0%9F%A5%B3&url=https://<%= process.env.YEAR %>.ngidol.club/share/<%= data.slug %>.html&via=f4devcircle">
						Bagikan di Twitter
					</a>
				</div>

				<p class="footer">© <%= process.env.YEAR %> f4devc | <a href="https://github.com/f4devcircle">GitHub</a></p>
			</div>
		</div>
	</div>
		
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendor/animsition/js/animsition.min.js"></script>
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendor/select2/select2.min.js"></script>
	<script src="../vendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/daterangepicker/daterangepicker.js"></script>
	<script src="../vendor/countdowntime/countdowntime.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="../js/main.js"></script>

</body>
</html>
