<!DOCTYPE html>
<html lang="en">
<head>
	<meta name=”robots” content=”noindex, nofollow">

	<title>#jkt48wrapped2020 untuk Bambang</title>

	<meta charset="UTF-8">	
	<meta name="description" content="Dapatkan ringkasan #jkt48wrapped2020 kamu sekarang!">

	<!-- Facebook Meta Tags -->
	<meta property="og:url" content="https://2020.ngidol.club/share/<%= data.slug %>.html">
	<meta property="og:type" content="website">
	<meta property="og:title" content="#jkt48wrapped2020 untuk <%= data.name %>">
	<meta property="og:description" content="Dapatkan ringkasan #jkt48wrapped2020 kamu sekarang!">
	<meta property="og:image" content="https://2020.ngidol.club/share/<%= data.slug %>.png">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site:" content="f4devcircle">
	<meta property="twitter:domain" content="2020.ngidol.club">
	<meta property="twitter:url" content="https://2020.ngidol.club/share/<%= data.slug %>.html">
	<meta name="twitter:title" content="#jkt48wrapped2020 untuk <%= data.name %>">
	<meta name="twitter:description" content="Dapatkan ringkasan #jkt48wrapped2020 kamu sekarang!">
	<meta name="twitter:image" content="https://2020.ngidol.club/share/<%= data.slug %>.png">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="https://storage.googleapis.com/ngidol.club/F4DCLogoTrans2.png"/>
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126884412-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-126884412-4');
	</script>

	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" id="result" style="display: block">
				<span class="login100-form-title p-b-26" style="padding-bottom: 0px;">
					#jkt48wrapped2020<br>
				</span>
				<h4 style="margin-bottom: 25px; font-weight: bold; font-size: 13px; margin-top: 5px;" id="result-name"><%= data.name %></h4>

				<h4>Handshake & video call terbanyak di 2020</h4>

				<% if (data.hsImages[0]) { %>
				<img class="foto" src="<%= data.hsImages[0] %>">
				<% } %>
				<% if (data.hsImages[1]) { %>
				<img class="foto" src="<%= data.hsImages[1] %>">
				<% } %>
				<% if (data.hsImages[2]) { %>
				<img class="foto" src="<%= data.hsImages[2] %>">
				<% } %>
				
				<% if (data.hsTexts[0]) { %>
				<p class="result-p"><%= data.hsTexts[0] %></p>
				<% } %>
				<% if (data.hsTexts[1]) { %>
				<p class="result-p"><%= data.hsTexts[1] %></p>
				<% } %>
				<% if (data.hsTexts[2]) { %>
				<p class="result-p"><%= data.hsTexts[2] %></p>
				<% } %>
				<% if (!data.hsTexts.length) { %>
				<p class="result-p">Tidak tersedia</p>
				<% } %>

				<h4>Setlist paling sering ditonton di 2020</h4>

				<% if (data.setlistImages[0]) { %>
				<img class="foto" src="<%= data.setlistImages[0] %>">
				<% } %>
				<% if (data.setlistImages[1]) { %>
				<img class="foto" src="<%= data.setlistImages[1] %>">
				<% } %>
				<% if (data.setlistImages[2]) { %>
				<img class="foto" src="<%= data.setlistImages[2] %>">
				<% } %>

				<% if (data.setlistTexts[0]) { %>
				<p class="result-p"><%= data.setlistTexts[0] %></p>
				<% } %>
				<% if (data.setlistTexts[1]) { %>
				<p class="result-p"><%= data.setlistTexts[1] %></p>
				<% } %>
				<% if (data.setlistTexts[2]) { %>
				<p class="result-p"><%= data.setlistTexts[2] %></p>
				<% } %>
				<% if (!data.setlistTexts.length) { %>
				<p class="result-p">Tidak tersedia</p>
				<% } %>

				<h4>Total handshake & video call di 2020</h4>
				<p class="result-p" id="result-total-hs"><%= data.hsCountText %></p>

				<h4>Total kehadiran teater di 2020</h4>
				<p class="result-p" style="margin-bottom: 0px" id="result-total-setlist"><%= data.setlistCountText %></p>

				<h4>Biaya simping 2020</h4>
				<p class="result-p" style="margin-bottom: 0px" id="result-total-setlist"><%= data.totalExpenseText %></p>

				<div class="share-section">
					<a class="btn btn-info btn-sm btn-download" href="https://2020.ngidol.club">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Buat Baru
                    </a>
					<a class="btn btn-secondary btn-sm btn-download" href="https://2020.ngidol.club/share/<%= data.slug %>.png" download="#jkt48wrapped2020">
						<i class="fa fa-download" aria-hidden="true"></i> Unduh Hasil
					</a>
					<a class="twitter-share-button" data-size="large" href="https://twitter.com/intent/tweet?text=Ini%20adalah%20ringkasan%20%23jkt48wrapped2020%20ku%2C%20ayo%20cari%20tau%20punyamu%20juga%20%F0%9F%A5%B3&url=2020.ngidol.club/share/<%= data.slug %>.html&via=f4devcircle">
						Bagikan di Twitter
					</a>
				</div>

				<p class="footer">© 2020 f4devc | <a href="https://github.com/f4devcircle">GitHub</a></p>
			</div>
		</div>
	</div>
		
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../vendor/animsition/js/animsition.min.js"></script>
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendor/select2/select2.min.js"></script>
	<script src="../vendor/daterangepicker/moment.min.js"></script>
	<script src="../vendor/daterangepicker/daterangepicker.js"></script>
	<script src="../vendor/countdowntime/countdowntime.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
	<script src="../js/main.js"></script>

</body>
</html>